@media(min-width: 720px){
    .history-summary{
        display: block;
    }
    .amount-container{
        width: 100%;
        padding: 10px 0;
    }
    .container{
        display: block;
    }
}



